@import './css-comment';
@import './bootstrap-grid.scss';
@import './reset.scss';


body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #626262;
  // overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}


h1, h2, h3, h4, h5, h6 {
	font-size: 29px;
	line-height: 1.2;
	text-transform: uppercase;
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	text-decoration: none;
}

textarea {
	width: 100%;
	padding: 10px;
	outline: 0;
}

//=======HELPER CLASSES=======//
.spacing-col-1 {
	> [class*='col-'] {

		&:not(:last-child) {
			margin-bottom: 100px;
		}
	}
}

//=======================================
// HEADER
// ======================================
.va-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
	height: 160px;
}

.va-header-logo {
	margin-right: 20px;
}

.va-main-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;

		li {
			&:not(:first-child) {
				margin-left: 10px;
			}

			&:not(:last-child) {
				margin-right: 10px;
			}

			a {
				display: block;
				padding: 5px;
				font-size: 17px;
				text-transform: uppercase;
				color: inherit;
				transition: all .4s ease;

				&:hover {
					color: #fd0000;
				}
			}
		}
}

//=======================================
// HOME
// ======================================

.va-home-page {
	margin-bottom: 90px;
}

.wp-block-image {
	margin-bottom: 30px;

	img {
		width: 100%;
	}
}

//=======================================
// POST
// ======================================

.va-post-img {
	margin-bottom: 15px;

	img {
		width: 100%;
		border-radius: 5px;
		transition: all .4s ease;
	}

	&:hover {
		img {
			opacity: .6;
		}
	}
}
.va-single-post-img {
	margin-bottom: 15px;

	img {
		width: 100%;
		border-radius: 5px;
	}
}

.va-category {
	margin-bottom: 10px;
	text-transform: uppercase;

	a {
		font-family: 'Ubuntu', sans-serif;
		font-size: 14px;
		font-weight: 300;
		text-transform: uppercase;
		color: #b4ad9e;
		transition: all .4s ease;

		&:not(:last-child) {
			margin-right: 10px;
		}

		&:hover {
			color: #d71625;
		}
	}
}

.va-post-title {
	margin-bottom: 15px;

	h4 {
		margin-bottom: 0;
	}

	a {
		color: #626262;
		transition: all .4s ease;

		&:hover {
			color: #f30808;
		}
	}
}

.va-single-post-content {
	margin-bottom: 30px;
}

//=== W I D G E T ===//
.widget {
	margin-bottom: 20px;
}

.widget-title {
	margin-bottom: 5px;
}

.textwidget {

	p{
		font-size: 12px;
	}

	a {
		color: #626262;
		transition: all .4s ease;

		&:hover {
			color: #fd0000;
		}
	}
}

.wp-calendar-table {
	width: 100%;
}

//=== POST PAGINATION ===//
.va-blog-pagination {
	display: flex;
	justify-content: center;
}

.screen-reader-text {
	display: none;
}

.nav-links {
	display: flex;

	span, a {
		font-size: 30px;
		padding: 5px;
		color: #626262;
		transition: all .4s ease;
	}

	i {
		font-size: 23px;
	}

	a {
		display: block;
		&:hover {
			color: #f30808;
		}
	}
}

//=== POST COMMENTS ===//
.comment-meta {
	word-spacing: 3px;
}

.comment-edit-link,
.comment-reply-link, {
	color: #2cc452;
}

.comment-reply-title {

	a {
		color: #2cc452;
	}
}

//=======================================
// HOTEL
// ======================================

.hotel-location {
	margin-bottom: 15px;
}

.hotel-location,
.hotel-price {
	font-family: 'Ubuntu', sans-serif;
	color: #9fa1a3;
}

.va-last-hotels {

	a {
		color: #626262;
		transition: color .4s ease;
		font-size: 20px;

		&:hover {
			color: #f30808;
		}
	}
}

.va-hotel-widget-wrapper {

	a {
		color: #626262;
		font-size: 22px;
		transition: color .4s ease;

		&:hover {
			color: #f30808;
		}
	}

	li {
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}
}

.category-hotel-widget {

	h3 {
		border-bottom: 2px solid #626262;
	}
}

//=======================================
// FOOTER MENU
// ======================================
.va-main-footer {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #F0F0F0;
}

.va-footer-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.va-footer-menu {
	display: flex;
	align-items: center;

	li {
		&:not(:last-child) {
			margin-right: 10px;
		}

		a {
			font-size: 14px;
			color: #000;
			display: block;
		}
	}
}

.va-footer-widgets {
	display: flex;
	align-items: center;
}

.va-footer-text {
	margin-right: 20px;
}

.va-social-widgets {
	display: flex;

	i {
		padding: 5px;

		&:not(:last-child) {
			margin-right: 5px;
		}
	}
}
.widget-footer {
	margin-bottom: 0;
}
